.chat {
  &__top {
    padding: 10px;
    margin-top: -3vh;
    margin-bottom: 5px;
    border: 2px dashed lightgreen;

    border-radius: 10px;

    h2 {
      margin: 0 0 20px 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    height: 350px;

    overflow-y: auto;

    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color:  rgb(40, 151, 151);
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__field {
    padding: 10px;
    width: 100%;
    border: 1px solid lightblue;

    background-color: transparent;

    font-size: 17px;
    color: white;

    &::placeholder {
      font-size: 17px;
      color: white;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 60px;
    height: 60px;
    border: 2px dashed white;

    font: {
      size: 17px;
    };
    color: white;

    background-color: transparent;
    border-radius: 50%;

    cursor: pointer;

    transition: .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__attach {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    cursor: pointer;
  }

  &__file {
    input[type="file"] {
      display: none;
    }
  }
}